[build]
  command   = "pip install --upgrade pip && pip install -r requirements.txt && mkdocs build"
  publish   = "site"
  functions = "netlify/functions"

[build.environment]
  PYTHON_VERSION = "3.9"

[context.production.environment]
  GIT_GATEWAY_ENABLED = "true"

[[redirects]]
  from   = "/api/*"
  to     = "/.netlify/functions/git-gateway/:splat"
  status = 200
  force  = true

[[redirects]]
  from   = "/admin"
  to     = "/admin/index.html"
  status = 200

[[plugins]]
  package = "@netlify/plugin-functions-install-core"
